<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>MinURL</title>

  <!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- FontAwesome --><script src="https://kit.fontawesome.com/a10d276de7.js" crossorigin="anonymous"></script>
  <!-- Clipboardjs --><script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <!-- Socket.io --><script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles.css">
  <script src="js/main.js" defer></script>
</head>

<body>
    <div class="first-half">
      <div class="container">
        <h1>MinURL</h1>
      </div>
    </div>

    <div class="second-half">
      <div class="container">
        <form class="longUrlForm" action="/shortUrl" method="post">
          <div class="input-group">
            <input id="longUrlInput" type="url" class="form-control input" placeholder="URL" name="longUrl" autofocus>
            <label class="sr-only" for="longUrlInput">URL à raccourcir</label>
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-confirm">Raccourcir</button>
            </div>
          </div>
        </form>

        <table class="table table-hover table-responsive mt-5">
          <thead>
            <th scope="col">Lien entier</th>
            <th scope="col">Lien rétréci</th>
            <th scope="col">Cliques</th>
            <th scope="col">Création</th>
            <th scope="col">Supprimer</th>
          </thead>
          <tbody>
            <% for (const shortUrl of shortUrls) { %>
              <tr id="shorturl-<%= shortUrl.short %>">
                <td><%= shortUrl.full %></td>
                <td>
                  <a href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %></a>
                  <i class="fas fa-link hoverable-icon clipboard-event" data-clipboard-text="http://localhost:3000/<%= shortUrl.short %>"></i>
                </td>
                <td class="clicks"><%= shortUrl.clicks %></td>
                <td><%= shortUrl.formattedCreatedAt %></td>
                <td>
                  <i class="fas fa-trash hoverable-icon" onclick="removeUrl('<%= shortUrl.short %>')"></i>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>
