<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>MinURL</title>

  <!-- Bootstrap CSS --><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- FontAwesome --><script src="https://kit.fontawesome.com/a10d276de7.js" crossorigin="anonymous"></script>
  <!-- Clipboardjs --><script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <!-- Socket.io --><script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.0.0/dist/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="css/styles.css">
  <script src="js/main.js" defer></script>
</head>

<body>
    <div class="first-half">
      <div class="container">
        <h1>MinURL</h1>
      </div>
    </div>

    <div class="second-half">
      <div class="container">
        <form class="longUrlForm" action="/shortUrl" method="post">
          <div class="input-group">
            <input id="longUrlInput" type="url" class="form-control" placeholder="URL" name="longUrl" autofocus>
            <label class="sr-only" for="longUrlInput">URL à raccourcir</label>
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-confirm">Raccourcir</button>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <table class="table table-hover mt-5">
            <thead>
              <th scope="col">Lien entier</th>
              <th scope="col">Lien rétréci</th>
              <th scope="col">Clics</th>
              <th scope="col">Création</th>
              <th scope="col">Supprimer</th>
            </thead>
            <tbody>
              <% for (const shortUrl of shortUrls) { %>
                <tr id="shorturl-<%= shortUrl.short %>">
                  <td><%= shortUrl.full %></td>
                  <td>
                    <a href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %></a>
                    <i class="fas fa-link hoverable-icon clipboard-event" data-clipboard-text="http://localhost:3000/<%= shortUrl.short %>"></i>
                  </td>
                  <td class="clicks"><%= shortUrl.clicks %></td>
                  <td><%= shortUrl.formattedCreatedAt %></td>
                  <td>
                    <i class="fas fa-trash hoverable-icon" onclick="removeUrl('<%= shortUrl.short %>')"></i>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>

</html>
